html
  head
    title Pets
    link(href='/css/main.css', rel='stylesheet')
  body
    h1 Pets
    table
      tr
        th Pet name
        th Pet species
      each pet in pets
        tr
          td
            form(action='')
              input(name='new-name' pet_id=pet.pet_id class='pet-name', value=pet.name)
          td= pet.species_name
    script(src='/pets.js', type='text/javascript')

